version: '2.1'

services:
  vocbench3:
    container_name: vocbench3
    image: internetofwater/vocbench3:latest
    environment:     
      - JAVA_MAX_MEM=512M
    volumes:
      - ./vocbench_data:/app/vocbench3/data
    ports:
      - 1979:1979
    
  
